<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
    <ion-buttons start left>
      <button ion-button icon-only detail-push navPush="ProfilePage" [navParams]="{prodList:prodList}">
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Main</ion-title>
    <ion-buttons end right>
      <button ion-button icon-only detail-push navPush="SearcherPage">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="col">
  <ion-row >
    <ion-col  col-6 *ngFor="let prod of treeMapItems"
    detail-push navPush="InfoLibroPage" [navParams]="{prod:prod.prod,slideData:getImages(prod.prod.key)}">
    <div class="header-banner">
      <ion-slides class="home-slide" pager="true">
        <ion-slide *ngFor="let slide of getImages(prod.prod.key)" >
          <img  class="image" src="{{slide}}"/>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="info-item">
      <div id="title">{{prod.prod.titulo}}</div>
      <div id="venta" *ngIf="prod.prod.accion == 'Vendo'">
        <span> Venta {{prod.prod.precio}}</span>
        <ion-icon name="logo-euro" color="primary"></ion-icon>
      </div >
      <div id="cambio" *ngIf="prod.prod.accion == 'Cambio'">
          <span >Cambio</span>
        </div >
        <div id="gratis" *ngIf="prod.prod.accion == 'Gratis'">
            <span >Gratis!!</span>
          </div >
    </div>
      
    </ion-col>
  </ion-row> 
</ion-content>
