page-add {
    .header-banner{
		height:auto;
		min-height:150px;
	}

	#rounded{
		//border: 1px solid lightcoral;
		background-color: #f3efee;
        width: 96%;
        height: 5%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
		margin-bottom: 10px;
		margin-left: 2%;
		margin-right: 2%;
	}

	#rounded2{
		//border: 1px solid lightcoral;
		background-color: #f3efee;
        width: 96%;
        //height: 5%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
		margin-bottom: 10px;
		margin-left: 2%;
		margin-right: 2%;
	}

	#rounded3{
		//border: 1px solid lightcoral;
		background-color: #f3efee;
        width: 48%;
        //height: 5%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
		margin-bottom: 10px;
		margin-left: 2%;
		margin-right: 2%;
	}
	
	
	#a{
		height: 5%;
	}

	.col{
		background-color: blue;
	}

	#sliderContent{
		width: 96%;
		height: 45vw;
		border-radius: 10px;
		margin-left: 2%;
		margin-right: 2%;
		border: 1px solid lightcoral;
		
		
	}

	.slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
	}

       ion-slides {
          height: auto;
	   }

	#qrContent{
		height: 5%;
	}

	#camBtn{
		margin-left: 2%;
	}

	#qrBtn{
		margin-right: 2%;
		float: right;
	}
    #span{
		position: absolute;
		margin-left: 44%;
		margin-top: 5%;
		font-size: 8pt;
	}



}
