page-add {
    .header-banner{
		
		height:auto;
        min-height:150px;
	}

	.slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
	}

       ion-slides {
          height: auto;
       }
}
