page-add {
    .header-banner{
		height:auto;
		min-height:150px;
		background-color: blue;
	}

	#sliderContent{
		height: 45vw;
		background-color: grey;
	}

	.slide-zoom {
		// height:200px;
		height: 100%;
		// overflow:hidden;
	}

       ion-slides {
          height: auto;
	   }

	#qrContent{
		height: 10vw;
	}

	#qrIcon{
		margin-left: 2vw;
		margin-top: 2vw;
	}
	   
	#qrBtn{
		width: 11vw;
		height: 11vw;
		border-radius: 50%;
		border-color: red;
		border: 1px solid red !important;
		-webkit-box-shadow: none !important;
	   background: transparent;  
	}

	#qrText{
		font-size: 11pt;
	}


}
