page-messages {

    #rounded{
        //border: 1px solid lightcoral;
        background-color: #f3efee;
            width: 96%;
            height: 5%;
           // -moz-border-radius: 50px;
          //  -webkit-border-radius: 50px;
            //border-radius: 10px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 2%;
        margin-right: 2%;
      }

}
